<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuemefulQR"
        tools:targetApi="31">
        <activity
            android:name=".ReuseQRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".ShareQRCodeActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".GeneratePromotionalQRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".EventPromotionActivity"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".CreateNewEventActivity"
            android:exported="false" />
        <activity
            android:name=".GenerateNewQRActivity"
            android:exported="false" />
        <activity
            android:name=".ScanQRActivity"
            android:exported="false" />
        <activity
            android:name=".ViewEventActivity"
            android:exported="false" />


        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EventDetailsActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".AdminEventDetailsActivity" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/qrcode_solid" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/button_green" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".MapActivity"
            android:foregroundServiceType="location" />
        <service
            android:name=".ReceiveNotifications"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.GET_NOTIFICATION" />
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>

        </service>
        <activity
            android:name=".ShowNotificationsActivity"
            android:exported="true" />

    </application>

</manifest>